* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.foodie {
  height: 700px;
  background: url(../image/main-img.png);
  background-size: cover;
  text-align: center;
}
.foodie .shape {
  width: 100%;
  background: rgba(166, 62, 67, 0.8);
  background-size: 100% 100%;
  color: #ffffff;
}
.foodie .shape .food-logo {
  padding: 40px 0 20px 0;
}
.foodie .shape .navbar ul {
  margin: 20px;
  word-spacing: 20px;
}
.foodie .shape .navbar li {
  display: inline;
}
.foodie .shape .navbar li a {
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
}
a,
.ord-btn,
.img-text2,
.menu-text2,
.pak-text2,
.chef-text1,
.sus-text2,
.about-text2 {
  font-family: Lato;
}
.foodie .shape .order {
  width: 50%;
  margin: auto;
}
.foodie .shape .order .ord-text {
  font-size: 150px;
}
.ord-text,
.pop-text,
.img-text1,
.shape-text,
.menu-text,
.box-text1,
.part-text1,
.pak-text,
.pak-item-text,
.chef-text2,
.sus-text,
.about-text1,
.about-head {
  font-family: Grand Hotel;
}
.foodie .shape .order .ord-text2 {
  font-size: 25px;
}
.foodie .shape .order .ord-btn,
.ord-btn2,
.pak-btn {
  padding: 15px 20px;
  width: 250px;
  margin: 50px 0 150px 0;
  border-radius: 20px;
  border: none;
  font-size: 20px;
}
.ord-btn,
.pop-text,
.img-text1,
.menu-text,
.box-text1,
.part-text1,
.pak-text,
.pak-item-text,
.chef-text2,
.sus-text {
  color: #ec7279;
}
/* popular start */
.popular {
  background: url(../image/bg-img2.png);
  background-size: cover;
  text-align: center;
}
.popular .pop-text {
  font-size: 100px;
  margin: 20px;
}
.popular .pop-text2 {
  font-size: 20px;
  margin: 0px 350px;
}
.popular .item {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 40px 0 40px;
  padding-bottom: 80px;
}
.popular .item .items {
  width: 33.33%;
}
.popular .item .items .img,
.img2,
.img3 {
  height: 250px;
  width: 250px;
  margin: auto;
  border-radius: 50%;
  background: url(../image/meg1.png);
  background-size: 100% 100%;
}
.popular .item .items .img2 {
  background: url(../image/meg2.png);
  background-size: 100% 100%;
}
.popular .item .items .img3 {
  background: url(../image/meg3.png);
  background-size: 100% 100%;
}
.popular .item .items .img-text1 {
  font-size: 50px;
}
.popular .item .items .img-text2 {
  margin: 10px 20px;
  font-size: 22px;
}
/* popular end */

/* statistic start */
.statstic {
  background: url(../image/bg3.png);
  background-size: cover;
  text-align: center;
  color: #ffffff;
}
.statstic .shape2 {
  background: rgba(166, 62, 67, 0.8);
  padding-bottom: 20px;
}
.statstic .shape2 .shape-text {
  font-size: 100px;
  padding: 80px 0 20px 0;
}
.statstic .shape2 .shape-text2 {
  font-size: 20px;
  padding: 0 300px;
}
.statstic .shape2 .circle {
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
}
.statstic .shape2 .circle .cir {
  height: 250px;
  width: 20%;
  margin: auto;
  border: 2px dashed;
  border-radius: 50%;
  margin: 40px 80px;
}
.statstic .shape2 .circle .cir .cir-text1 {
  font-size: 67px;
  padding-top: 50px;
}
.statstic .shape2 .circle .cir .cir-text2 {
  font-size: 50px;
}
/* static end */
/* menu start */
.menu {
  background: #eee6cc;
  text-align: center;
}
.menu .menu-text {
  font-size: 100px;
  padding: 80px 0 20px 0;
}
.menu .menu-text2 {
  font-size: 20px;
  padding: 0 300px;
  margin-bottom: 20px;
}
.menu .menu-item {
  margin: 0 80px;
  display: flex;
  flex-wrap: wrap;
  padding: 60px;
}
.menu .menu-item .menu-items {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.menu .menu-item .menu-items .box {
  height: 150px;
  width: 30%;
  margin: 25px 0;
}
.menu .menu-item .menu-items .box-text {
  text-align: left;
  width: 70%;
  padding: 10px;
}
.menu .menu-item .menu-items .box-text .box-text1 {
  font-size: 50px;
}
.menu .menu-item .menu-items .box-text .box-text2 {
  font-size: 22px;
}
/* menu end */

/* pasta start */
.pasta {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.pasta .part {
  height: 961px;
}
.pasta .part1 {
  background: url(../image/pasta.png);
}
.pasta .part1 .shape3 {
  height: 961px;
  background: rgba(166, 62, 67, 0.8);
}
.pasta .part2 {
  padding-left: 100px;
}
.pasta .part2 .part-text1 {
  font-size: 100px;
  margin-top: 300px;
}
.pasta .part2 .part-text2 {
  font-size: 30px;
  text-align: left;
}
.pasta .part2 .ord-btn2 {
  background: #ec7279;
  color: #ffffff;
}
/* pasta end */
/* pakage section start */
.pakage {
  background: #eee6cc;
  text-align: center;
}
.pakage .pak-text {
  font-size: 100px;
  padding: 80px 0 20px 0;
}
.pakage .pak-text2 {
  font-size: 20px;
  padding: 0 300px;
  margin-bottom: 20px;
}
.pakage .pak-menu {
  margin: 40px 60px 0px 60px;
  display: flex;
  flex-wrap: wrap;
}
.pakage .pak-menu .pak-items {
  height: 400px;
  width: 28%;
  margin: 40px 20px 130px 20px;
  background: #faf5e4;
  border-radius: 20px;
  padding: 20px;
}
.pakage .pak-menu .pak-items img {
  margin: 20px;
}
.pakage .pak-menu .pak-items .pak-item-text {
  font-size: 50px;
}
.pakage .pak-menu .pak-items .pak-item-text2 {
  font-size: 22px;
}
.pakage .pak-menu .pak-items .pak-btn {
  background: #ec7279;
}
/* pakage section end */
/* chef section start */
.main-chef {
  background-repeat: no-repeat;
  padding-top: 100px;
}
.main-chef .girl-img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 0px auto;
  background: url(../image/girl-img.png);
  background-size: 100% 100%;
}
.main-chef .chef-bg {
  height: 300px;
  background: url(../image/bg4.png);
  background-repeat: no-repeat;
  text-align: center;
}
.main-chef .chef-bg .chef-text1 {
  font-size: 40px;
  margin: 0px 200px;
}
.main-chef .chef-bg .chef-text2 {
  font-size: 86px;
}
/* chef section end */

/* suscribe section start */
.suscribe {
  background: #eee6cc;
  text-align: center;
}
.suscribe .sus-text {
  font-size: 100px;
  padding: 80px 0 20px 0;
}
.suscribe .sus-text2 {
  font-size: 20px;
  padding: 0 300px;
  margin-bottom: 20px;
}
.suscribe input,
.sus-btn {
  height: 40px;
  width: 400px;
  border-radius: 20px;
  border: none;
  padding-left: 20px;
}
.suscribe .sus-btn {
  width: 150px;
  transform: translate(-40%, 0%);
  background: #eb4d55;
  font-size: 18px;
  color: white;
  margin-bottom: 30px;
  padding: 0;
}
/* suscribe section end */
/* about start */
.about {
  background: #2a2a2a;
  padding: 40px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  color: white;
}
.about .about-part .about-text1 {
  font-size: 54px;
}
.about .about-part .about-text2 {
  font-size: 23px;
}
.about .about-part .about-head {
  font-size: 39px;
}
.about .about-part ul {
  list-style: none;
  line-height: 30px;
}
.about .about-part ul li i {
  color: black;
  background: white;
  padding: 5px;
  margin: 10px;
  border-radius: 50%;
}
/* about end */
